@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --highlight-green: #81fe88;
    --pastel-green: #bfffc3;
    --petrol-green: #132e35;

    --graphite: #01080e;

    --dark-gray: #171d1f;
    --gray: #3e3e3f;
    --medium-gray: #888888;
    --light-gray: #bcbcbc;

    --offwhite: #e1e1e1;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body {
    background-color: var(--graphite);
    margin: 0;
}
