name: E2E testing

on:
    pull_request:
        branches:
            - main

jobs:
    e2e-test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22
            - name: Install dependencies
              run: npm ci
            - name: Run e2e tests
              run: npm run test:e2e:ci
            - name: Upload screenshots
              if: always()
              uses: actions/upload-artifact@v4
              with:
                name: cypress-screenshots
                retention-days: 7
                if-no-files-found: ignore
                path: cypress/screenshots
